.THIS .Overdue {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #fdfefe;
}

.THIS .customHeader {
	background: grey;
    padding: 8px;
    color: white;
}

.THIS .slds-pill__remove {
	display:none;
}

.THIS .slds-pill__action{
	padding-left: .5em;
}