.THIS .classic{
    
}
.THIS .classic .card{
    background:#5e6468;
        
}
.THIS .slds-button[disabled] *{
	color: rgb(171, 172, 173);
	}
	
.THIS .classic .slds-card__header{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: .75rem;
    background-color: #5e6468;
    background-color:#ffffff;
    height:35px;
}
.THIS .classic .slds-has-flexi-truncate{
        /*height: 30px;*/
}
.THIS .classic .white .slds-icon-text-default{ 
  /*  fill: white; */
}
.THIS .classic .black .slds-icon-text-default{ 
   /*  fill: black; */
}
.THIS .classic .slds-text-heading--small {
    font-size: 1rem;
    line-height: 1.25;
    width: 20.5px;
    height: 8.5px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}

.THIS .slds-tabs--default__content {
    position: relative;
    padding: 0rem 0;
}
.THIS .case-details-font {
    font-family: Roboto;
    font-size: 17px;
    text-align: left;
    color: #ffffff;
}
.THIS .Initial{
        background-color: #0773a8;
    border: 1px solid #ffffff;
    display: block;
    position: fixed;
    top: 55%;
  /*  padding: 10px 0 10px 10px;*/
    padding: 3px 0 8px 3px;
        width: 163px;
    z-index: 999;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    font-family: 'HelveticaNeue-Medium',Helvetica,Arial,sans-serif;
    line-height: 16px;
    font-size: 16px;
    color: #fff;
    right: -114px;
}
.THIS .Animation{
    right: -9px;
    transition: right 1s;
    -moz-transition: right 1s;
    -webkit-transition: right 1s;
     padding: 3px 0 8px 3px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
        width: 158px;
}
.THIS .CaseDetailAnimation{
    transition: right 5s;
    -moz-transition: right 5s;
    -webkit-transition: right 5s;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
      
}
.THIS .slds-hide{
    transition: right 1.5s;
    -moz-transition: right 1.5s;
    -webkit-transition: right 1.5s;
}
.THIS .slds-docked-composer.slds-is-open {
   height: 445px;
}

.THIS .scroll{
      height: 440px;
}
.THIS ::-webkit-scrollbar {
    width: 6px;
}
.THIS ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle //rgba(1, 52, 78, 1)
    background: rgba(255,0,0,0.8); 
background: rgba(255,0,0,0.4); 
*/
.THIS ::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px;
    border-radius: 10px;
   background: rgba(1, 52, 78, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.THIS ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(1, 52, 78, 0.4);
}
.THIS  .slds-p-horizontal--small {
    padding-right: .20rem;
    padding-left: 0.30rem;
}
.THIS .slds-modal__container {
    width: 65%;
    max-width: 80rem;
    margin-top: 5em;
}
.THIS .CloseBtn{
    top: 55%;
    right: 38%;
    padding: 3px 0 8px 0;
    width: 16px;
}
.THIS .chevronrightBtn{
    cursor: pointer;
}
.THIS .mediumIcon .slds-button--icon--inverse{
    width: 1.5rem !important;
    height: 1.5rem !important;
    line-height: 1 !important;
}