@import url('https://fonts.googleapis.com/css?family=Roboto');
.THIS .trimDivContent{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
    
}
.THIS .layer {
   
   font-size: 19px;
   font-weight: 600;
   text-align: left;
   color: #0773a8;
}
.THIS .slds-form-element__label{
    font-weight: bold;
}
.THIS .slds-spinner_container{
    position:fixed;
}
.THIS .position_fixed{
    position:fixed;
}