.THIS table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
   
}
.THIS th {
    text-align: left;
    padding: 8px;
}
.THIS td {
    text-align: left;
    padding: 8px;
}
.THIS .slds-box{
    height:auto;
    
}

.THIS .contentDiv{
    margin-top: -11px;
}
.THIS .scrollHorizon{
    overflow-x :scroll;
    overflow-y:scroll;
    max-height: 400px;
}
.THIS ::-webkit-scrollbar {
    height: 6px;
}
.THIS .imageHeight{
    
}
/*.THIS tr:nth-child(even){background-color: #f2f2f2}*/

.THIS .slds-p-left_x-large,.THIS .slds-p-left--x-large {
    padding-left: 0.5rem;
}

.THIS .isRequiredCustomClassPicklist{
	border-left: 2px solid red;
}