.THIS .common {
    background-color:#00a3e2;
    width:4%;
}
.THIS .center-algn{
    text-align:center;
}


.THIS li.Unassigned a {
    font-family: 'Roboto', sans-serif;
    opacity: 1.5;
  font-size: 12px;
   text-align: left;
  color: #000000;
   font-weight: 500;
}
.THIS .slds-text-title_caps, .THIS .slds-text-title--caps {
 
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    color: #5e6468;

}


.THIS .greyFont1 
{
    opacity: 0.7;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;
    color: #5e6468;

}

.THIS .slds-spinner_container{
    position:fixed;
}
.THIS .greyFont2
{
    opacity: 0.9;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;
    color: #272829;

}

.THIS .greyFont3 {
    color: #666c70;
    opacity: 0.7;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;

}

.THIS .greyFont4 {
    color: #292b2d;
    opacity: 0.7;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;

}

.THIS .New-Case {
  width: 23.5px;
  height: 9.5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  color: #00a3e2;
}

.THIS .Rectangle-511 {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 1.5px;
  background-color: #ffffff;
  border: solid 0.5px #00a3e2;
}

.THIS .new-case-btn{
   border-radius: 1.5px;
  background-color: #ffffff;
  border: solid 0.5px #00a3e2;
 
}

.THIS .rightButton{
  float:right;
/*  height: 35px;*/
     margin :3px;
    line-height : 1.5rem;
  
}

.THIS .slds-spinner_container{
    position:fixed;
}