.THIS #errorPopup {
    margin-top:0.9% !important;
}
/*Vandita | ESMPROD-1280 | strat*/
.THIS .slds-p-around_medium,.THIS .slds-p-around--medium {
    padding: 1rem;
}
/*Vandita | ESMPROD-1280 | end*/