.THIS .slds-template__container {
	    background-color: white;
}
.THIS .Unassigned {
list-style-type:none;
}
.THIS .slds-tabs--default__nav {
    background-color: #00a3e2;
    color: #fff;
}
.THIS .slds-tabs_default__nav {
    background-color: #00a3e2;
    color: #fff;
}
.THIS .slds-active {
    background-color: #0773a8;
    color: #ffffff;
}
.THIS .slds-tabs--default__link {
    text-decoration: none!important;
    color: #fff;
}
.THIS .slds-tabs_default__link {
    text-decoration: none!important;
    color: #fff;
}
.THIS .slds-p-around_small, .THIS .slds-p-around--small {
    padding : 10px 0;
}
.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
    padding : 0;
}

.THIS .slds-box {
    margin-top: 10px;
    width: 100%;
}
.THIS .custom-breadcrum {
        padding: 7px 0 0 10px;
}
/*Added by vandita | 5-30-2018 | ESMPROD-1059 | Start*/
.THIS .slds-spinner {
    margin-top: 8%;
}
/*Added by vandita | 5-30-2018 | ESMPROD-1059 | End*/