.THIS .slds-tabs_default__content{
    padding-top:0px;
    padding-bottom:0px;
}
.THIS .slds-tabs--default__content{
    padding-top:0px;
    padding-bottom:0px;
}

.THIS .slds-tabs__nav-scroller {

    padding-bottom: 10px;
    background-color: #f5f5f5!important;
}
.THIS .slds-tabs_default__nav, .THIS .slds-tabs--default__nav {
     background-color:#00a3e2;
}
.THIS .hide {

    display:none;
}