.THIS .slds-p-around_medium, .THIS .slds-p-around--medium {
    padding: 1rem;
    margin-top: 10px;
    margin-left: 20px;
}
.THIS .customInputFieldSection{
    min-height: 50px; 
    float: left; 
    padding: 1%; 
}