@import url('https://fonts.googleapis.com/css?family=Roboto');

.THIS .Shape-Copy {
    width: 100%;
    height: 80px;
    border-top-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;
    background-color: #ffffff;
    
}
.THIS .sldc-card_header-2 {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0px;
    padding-bottom: 12px;
}
.THIS .trimDivContent{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
    
}
.THIS .slds-card {
    background:#ffffff;	
}
.THIS .layer {
  width: 29.5px;
  height: 10px;
  font-size: 19px;
  font-weight: 600;
  text-align: left;
  color: #0773a8;
  padding-left: 0px;
}
.THIS .columnHeader{
	color: #afb4b7;
}
.THIS .Not-yet-received-my{
font-family: 'Salesforce Sans',Arial,sans-serif!important;
    font-size: 16px!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    letter-spacing: normal!important;
    text-align: left!important;
    color: slategray!important;
}
.THIS .slds-form-element__label{
    font-weight: bold;
}
.THIS .cSplitCaseTracker .layer {
    width: 100px !important;
}
.THIS .position_fixed{
    position: fixed !important;
}