.THIS .slds-form-element__label {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: .75rem;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #706e6b;
    word-wrap: break-word;
}