.THIS .sectionHeader {
    
    color: #5e5c5c ;
    font-family: 'Roboto',sans-serif !important;
    font-weight: 600 !important;
    text-align: left;
}
.THIS .slds-hide{
    transition: right 1.5s;
    -moz-transition: right 1.5s;
    -webkit-transition: right 1.5s;
}
.THIS .slds-p-around_medium {
    padding: 0.1rem;
}
/*Added by Vandita |10-5-2018 | ESMPROD-1021/ESMPROD-1275 | Start*/ 
.THIS .slds-p-around_small, .THIS .slds-p-around--small {
  
    word-wrap: break-word;
    padding: 10px 5px;
}
/*Added by Vandita |10-5-2018 | ESMPROD-1021/ESMPROD-1275 | End*/