/*
*	Name 		   : CaseList.css
*   Author         : Niraj Prajapati
*   Date   		   : 09-Aug-2017
*   Description    : Stylesheet for CaseList component
* 
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
.THIS .Shape-Copy {
    width: 100%;
    
    border-top-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;
    background-color: #ffffff;
    /*box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);*/
}
.THIS.toggleDiv {
    display: none!important;
}
.THIS img {
    cursor: pointer;
}
.THIS .numberCircle {
    transform: translate(-40%, -44%);
    border-radius: 50%;
    width: 19px;
    height: 17px;
    background: #fff;
    color: #ffffff;
    text-align: center;
    font-size:smaller;
    background-color: #5e6468;
}
.THIS .Check_box {
    width: 18px!important;
    height: 18px!important;
    border-radius: 4px!important;
    background-color: #f5f5f5!important;
}
.THIS .emailDes {
    padding-left: 0px;
    padding-right: 0px;
}

.THIS.leftBoder {
    /* Vandita | ESMPROD-1186 | Start*/
    margin: 8px 5px 8px 5px;
    /* Vandita | ESMPROD-1186 | End */
    border-left: 6px solid #4ebab8;
    /*border-top-left-radius:3px;
 
  border-bottom-left-radius:3px;*/
    
    border-radius: 2px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2)
}
.THIS .trans8 {
    opacity: 0.8;
}
.THIS .sldc-card_header-2 {
    padding: 4px 8px 4px 8px;
    margin-bottom: 0px;
   
}
.THIS .slds-media__figure-2 {
    margin-right: 6px;
}
.THIS .icon_star_inactive {
    object-fit: contain;
    border-radius: 0.3px;
    border: solid 0.5px #5e6468;
}
.THIS .icon_star_active-copy {
    object-fit: contain;
    border-radius: 0.3px;
    background-color: #fdc55b;
    border: solid 0.5px #fdc55b;
}
.THIS .Shape-Copy-2 {
    width: 6px;

    border-radius: 2px;
    background-color: #4ebab8;
    float: left;
}
.THIS .noBorder {
    border: 0px!important;
}
.THIS .Shape-Copy .Check_box_selected {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.THIS .Not-yet-received-my {
   /* font-family: 'Roboto', sans-serif; */
    font-family:'Salesforce Sans',Arial,sans-serif!important;
    font-size: 16px!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: normal!important;
    letter-spacing: normal!important;
    text-align: left!important;
    color: slategray!important;
}
.THIS .Please-provide-us-wi {
   /* font-family: 'Roboto', sans-serif; */
     font-family:'Salesforce Sans',Arial,sans-serif!important; 
    font-size: 12px!important;
    font-weight: normal!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: 1.25!important;
    letter-spacing: normal!important;
    text-align: left!important;
    color: #afb4b7!important;
}
.THIS .Please-provide-us-wi .text-style-1 {
    color: #5e6468!important;
}
.THIS .Status-Ready-for-Pr .text-style-12 {
  /* font-family: 'Roboto', sans-serif; */
     font-family:'Salesforce Sans',Arial,sans-serif!important; 
    font-size: 13px!important;
    font-weight: 500!important;
    font-style: normal!important;
    font-stretch: normal!important;
    line-height: 1.46!important;
    letter-spacing: normal!important;
    text-align: left!important;
    color: slategray!important;
}
.THIS .Status-Ready-for-Pr {
    font-weight: normal!important;
    color: #afb4b7!important;
}
.THIS .Rectangle-8 {
    border-radius: 12px;
    background-color: #f93a37;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.THIS .Overdue {
  /* font-family: 'Roboto', sans-serif; */
     font-family:'Salesforce Sans',Arial,sans-serif!important; 
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #fdfefe;
}
.THIS .Status-Open {
    width: 76px;
    height: 19px;
/* font-family: 'Roboto', sans-serif; */
	font-family:'Salesforce Sans',Arial,sans-serif!important; 
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #afb4b7;
}
.THIS .Status-Open .text-style-1 {
    font-weight: 500;
    color: #5e6468;
}
.THIS .text-style-1 {
    font-weight: 500;
    color: #5e6468;
    color: var(--slate-grey);
}
.THIS .Mail_icon {
    width: 22px;
    height: 14.4px;
    background-color: #afb4b7;
}
.THIS .Fill-4 {
    width: 18px;
    height: 18px;
    background-color: #5e6468;
}
.THIS .layer {
    width: 5.2px;
    height: 12px;
  /* font-family: 'Roboto', sans-serif; */
             font-family:'Salesforce Sans',Arial,sans-serif!important; 
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    color: #ffffff;
}
.THIS .layer1 {
    width: 59px;
    height: 23px;
 /* font-family: 'Roboto', sans-serif; */
             font-family:'Salesforce Sans',Arial,sans-serif!important; 
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0773a8;
}
.THIS .iconDiv {
    display: inline;
    margin-left: 8px;
    margin-right: 1px;
}
.THIS .hideMe {
    display: none;
}
.THIS .hotspots {
    width: auto;
    /*width:98%;*/
    
    z-index: 1;
    height: 80px;
    padding: 5px 16px;
    border: 1px solid;
    border-radius: 2px;
    margin-left: 25px;
    float: right;
    position: relative;
    border-color: #00a3e2;
    background-color: rgb(255, 255, 255);
    margin-top: 0.7rem;
    box-shadow: 0px 0px 7px 1px cadetblue;
}
.THIS .Filter {
    width: 16.5px;
    height: 9.5px;
 /* font-family: 'Roboto', sans-serif; */
             font-family:'Salesforce Sans',Arial,sans-serif!important; 
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    color: #5b5b5b;
}
.THIS .c-container .Rectangle-511 {
    width: 222px;
    height: 29px;
    border-radius: 1px;
    border-color: lightgray;
    float: left;
}
.THIS .inputTxt {
    cursor: auto !important;
}
/* Start PUX-304 */

.THIS .slds-nubbin_top-right:before,
.THIS .slds-nubbin_top-right:after,
.THIS .slds-nubbin--top-right:before,
.THIS .slds-nubbin--top-right:after {
    right: 3.8rem !important;
    border-top: 1px solid #00a3e2;
    border-left: 1px solid #00a3e2;
}
/* End PUX-304 */
/*PUX-390*/

.THIS .selectedOptionCSS {
    background-color: lightblue;
    border-radius: 5px;
}
.THIS .selectedOptionCSS:hover {
    background-color: lightblue;
    border-radius: 5px;
}
.THIS .sortOption:hover {
    background-color: rgb(236, 235, 234);
    border-radius: 5px;
}
.THIS .closeBtn {
    width: 30px!important;
    padding: 8px!important;
    height: 30px!important;
    background-color: rgb(236, 235, 234);
    border-radius: 5px;
}
.THIS .closeBtn:hover {
    width: 30px!important;
    padding: 8px!important;
    height: 30px!important;
    background-color: rgb(236, 235, 234);
    border-radius: 5px;
}
.THIS .selectedSortBtn {
    box-shadow: 10px 10px 5px #888888;
}
/*PUX-390*/
.THIS{
    font-family:'Salesforce Sans',Arial,sans-serif!important;      
}

.THIS .button-border {
    border:1px solid black;
    border-radius:2px;
}

.THIS .disableClick {
    pointer-events:none;
}
.THIS .enableClick {
    pointer-events:auto;
}

/* Vandita | ESMPROD-1186 | Start*/
.THIS .slds-button[disabled] {
    color: rgb(221, 219, 218) !important;
}


.THIS .slds-button_neutral,.THIS  .slds-button--neutral {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
/* Vandita | ESMPROD-1186 | End*/