.THIS .attachmentScroller{
    height:455px;
}
.THIS .slds-card__body{
        margin-bottom: 0px;
        
}
.THIS .slds-card{
    margin-top: 0px !important;;
}
.THIS .slds-p-around--small{
    padding: 0.25rem;
}
.THIS .bottomborder .slds-wrap{
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS .slds-dropdown--left {
    left: unset !important ;
    right: 0 !important;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
/* vandita | ESMPROD-1280 | start*/
.THIS .slds-dropdown{
  margin-left: -4.5rem;
   
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
/* vandita | ESMPROD-1280 | end*/

.THIS .slds-table th, .THIS .slds-table td {
    padding: .25rem 0rem !important ;
}