/* Below css will use to display border on QC parameter */
.THIS .borderClass {
    border: 1px solid #e4dede ;
    margin: 5px ;
}
.THIS .slds-card__body {
    padding-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px
}
.THIS .slds-card__header {
   padding: .55rem 0.5rem 0;
    /* margin: 0 0 .75rem; */
}
.THIS .scroll{
    height:420px;
}

.THIS ::-webkit-scrollbar {
    width: 6px;
}
.THIS ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle //rgba(1, 52, 78, 1)
    background: rgba(255,0,0,0.8); 
background: rgba(255,0,0,0.4); 
*/
.THIS ::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px;
    border-radius: 10px;
   background: rgba(1, 52, 78, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.THIS ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(1, 52, 78, 0.4);
}