.THIS .slds-tabs_default__content{
    padding-top:0px;
    padding-bottom:0px;
}
.THIS .slds-tabs--default__content{
    padding-top:0px;
    padding-bottom:0px;
}

.THIS .slds-tabs__nav-scroller {
    background-color: #f5f5f5!important;
    margin-bottom: 10px;
    /* background-color: red; */
    background-color: #f5f5f5!important;
}


.THIS .slds-pill__remove {
   /* width: 1.5rem; */
    height: 1.5rem;
   /* background: white; */
    z-index: 2;
}

.THIS .slds-tabs--default__link {
    text-decoration: none !important;
    color: #fff;
}

.THIS .slds-tabs--scoped__link {
    text-decoration: none !important;
    color: #000000;
}

.THIS .slds-tabs_default__link {
    text-decoration: none !important;
    color: #fff;
}

.THIS .slds-tabs_scoped__link {
    text-decoration: none !important;
    color: #000000;
}

.THIS .slds-tabs_scoped__nav {
    border: 0px solid rgb(216, 221, 230);
}

.THIS .slds-tabs--default__nav {
    background-color: #00a3e2 !important;
    color: #fff !important;
    border-bottom: #f5f5f5 5px solid;
    /*border-bottom: 1px solid rgb(221, 219, 218);*/
}

.THIS .slds-tabs_default__nav {
    background-color: #00a3e2 !important;
    color: #fff !important;
    border-bottom: #f5f5f5 5px solid;
    /*border-bottom: 1px solid rgb(221, 219, 218);*/
}

.THIS .slds-tabs_default__item {
    color: #fff;
    text-align: center;
    background-color: #00a3e2;
    margin-bottom: -5px;
    text-transform: none !important;
    border-bottom: 2px solid rgb(221, 219, 218);
    /* border-bottom: 5px solid #f5f5f5;
    height:5px;*/
}

.THIS .slds-tabs--default__item {
    color: #fff;
    text-align: center;
    background-color: #00a3e2;
    margin-bottom: -5px;
    text-transform: none !important;
    border-bottom: 2px solid rgb(221, 219, 218);
    /*  height:5px;*/
}

.THIS .slds-tabs_default__item:hover, .THIS .slds-tabs_default__item.slds-has-hover, .THIS .slds-tabs--default__item:hover, .THIS .slds-tabs--default__item.slds-has-hover {
    /*outline: 0;*/
    border-bottom: 5px solid #0773a8 !important;
}

.THIS .slds-tabs_default, .THIS .slds-has-overflow, .THIS .slds-tabs__nav-scroller_inner {
    border-bottom: 0px !important;
}


.THIS .slds-tabs_default__item::after {
    height: 4px;
    top: 25px;
    margin-top: 25px;
    content: none;
    /*  height:4px;*/
}

.THIS .slds-tabs--default__item::after {
    top: 25px;
    margin-top: 25px;
    height: 4px;
    content: none;
}


.THIS .slds-tabs_default__item.slds-active:after, .THIS .slds-tabs_default__item.slds-is-active:after, .THIS .slds-tabs--default__item.slds-active:after, .THIS .slds-tabs--default__item.slds-is-active:after {
    background-color: #00a6f8 !important;
}


.THIS .slds-active {
    background-color: #0773a8;
    color: #ffffff;
    border-bottom: 5px solid #00a3e2 !important;
}