.THIS .uiMenu{
    margin-left:10px;
    padding-right: 50px;
}

.THIS .uiMenuList{
    width:23em;
}
.THIS .uiMenuList .attachmentScroller{
	display: block;
    max-height: 250px;
    overflow-y: scroll;
}
.THIS .uiMenuItem{
    border:0.1em solid lightgrey;
    border-width:thin;
    
}
.THIS .slds-icon--x-small{
    width: 0.8rem;
    height: 0.8rem;

}
.THIS .hide{
    display:none;
}
.THIS .customInputFieldSection{
    min-height: 80px; 
    float: left; 
    padding-left: 1%; 
    padding-right: 1%; 
    
}