/*
* Authors	   :  Atul Hinge
* Date created :  14/11/2017
* Purpose      :  [PUX-30,PUX-27,PUX-270] This component Display attachment.
* Dependencies :  CaseDetailView.cmp,AttachmentListView.cmp,SubTabViewer.cmp
* JIRA ID      :  PUX-30,PUX-27,PUX-270
* -----------------------------------------------------------
* Modifications: 
*        Date:  
*        Purpose of modification:  
*        Method/Code segment modified:    
*/
.THIS .hideFirstTab li:first-child{
   display: none;
}
.THIS .classic{
     background-color: rgb(244, 246, 249) !important;
}
.THIS .classic .card{
    background:#5e6468;
        
}
.THIS .classic .slds-card__header{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: .75rem;
    background-color: #5e6468;
    background-color:#ffffff;
    min-height:95%;
}
.THIS .classic .slds-has-flexi-truncate{
        height: 30px;
}
.THIS .classic .white .slds-icon-text-default{ 
  /*  fill: white; */
}
.THIS .classic .black .slds-icon-text-default{ 
   /*  fill: black; */
}
.THIS .classic .slds-text-heading--small {
    font-size: 1rem;
    line-height: 1.25;
    width: 20.5px;
    height: 8.5px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}

.THIS .slds-tabs--default__content {
    position: relative;
    padding: 0rem 0;
}
.THIS .case-details-font {
    font-family: Roboto;
    font-size: 17px;
    text-align: left;
    color: #ffffff;
}
.THIS .scroll {
    height: 382px;
}