.THIS .common {
    background-color:#00a3e2;
    width:4%;
}
.THIS .center-algn{
    text-align:center;
}

.THIS .slds-tabs--default__nav{
     background-color:#00a3e2;
    color:#fff;
}

.THIS .slds-tabs_default__item{
       color:#fff;
    	text-align: center;
}
.THIS .slds-tabs--default__item{
       color:#fff;
 
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
.THIS .slds-active{
    background-color:#0773a8;
    color:#ffffff;
    
}


.THIS .slds-tabs--default{
     background-color:#f5f6fa;
}
/* Vandita | ESMPROD-1280 | start */
.THIS li.slds-breadcrumb__item a {
    color: #0070d2;  
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
    font-size: .75rem;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;   
    word-wrap: break-word;
    text-transform: none;
}

.THIS li.Unassigned a {   
    color: #0070d2;  
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
    font-size: .75rem;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;   
    word-wrap: break-word;
    text-transform: none;
}
.THIS .slds-text-title_caps, .THIS .slds-text-title--caps {
 
    color: #0070d2;  
    font-family: 'Salesforce Sans',Arial,sans-serif !important;
    font-size: .75rem;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;   
    word-wrap: break-word;
    text-transform: none;

}


/* Vandita | ESMPROD-1280 | end */

.THIS .greyFont1 
{
    opacity: 0.7;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;
    color: #5e6468;

}

.THIS .greyFont2
{
    opacity: 0.9;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;
    color: #272829;

}

.THIS .greyFont3 {
    color: #666c70;
    opacity: 0.7;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;

}

.THIS .greyFont4 {
    color: #292b2d;
    opacity: 0.7;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    text-align: left;

}

.THIS .New-Case {
  width: 23.5px;
  height: 9.5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  color: #00a3e2;
}

.THIS .Rectangle-511 {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-radius: 1.5px;
  background-color: #ffffff;
  border: solid 0.5px #00a3e2;
}

.THIS .new-case-btn{
   border-radius: 1.5px;
  background-color: #ffffff;
  border: solid 0.5px #00a3e2;
 
}

.THIS .rightButton{
  float:right;
/*  height: 35px;*/
     margin :3px;
    line-height : 1.5rem;
  
}