<apex:page controller="ESMUISetupController" sidebar=" false" doctype="HTML-5.0" standardstylesheets="false" title="PLM UI Setup">
    <apex:slds />
      <c:customtab customtabtype="CaseManagerUISetup" id="includeCustomTab" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/jquery-3.2.1.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/angular.min.js')}" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/chosen.jquery.min.js')}" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.RuleResource, 'CSS/chosen.css')}" />
    <apex:includescript value="{!URLFOR($Resource.RuleResource, 'JS/toastr.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.RuleResource, 'CSS/toastr.min.css')}" />
    <style>
        .slds-scope .slds-modal_large .slds-modal__container {
            width: 70% !important;
        }

        .slds-scope .slds-form_horizontal .slds-form-element > .slds-form-element__label {
            width: 20% !important;
        }

        .slds-scope .slds-form_horizontal .slds-form-element__control {
            width: 75% !important;
        }

        .slds-scope .slds-card {
            background: white;
        }

        .hideContent {
            display: none;
        }

        .slds-scope .slds-table_bordered {
            border: 1px solid #d8dde6;
            border-radius: 3px;
        }

        .slds-scope .slds-page-header {
            background: white;
        }

        .slds-scope .slds-icon-custom-custom3 {
            background-color: #2A739E;
            color: #fff;
            padding: 4px;
        }

        .slds-scope .slds-section.slds-is-open .slds-section__content {
            padding-top: 0px;
        }

        .slds-scope a:hover {
            text-decoration: none !important;
        }

        .chosen-container-multi .chosen-choices {
            border: 1px solid #d8dde6 !important;
            border-radius: .25rem;
        }

        .slds-scope .slds-modal_large .slds-modal__container {
            width: 85% !important;
        }
    </style>
    <body ng-app="UISetupApp">
        <div ng-controller="UISetupCtrl">
            <div class="slds-card" style="min-height: 500px;">
                <div class="demo-only demo--inverse" ng-show="loading">
                    <div class="slds-spinner_container ">
                        <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                            <span class="slds-assistive-text">Loading</span>
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-custom-custom3 setup-icon" title="Description of icon when needed">
                                <svg class="slds-icon slds-page-header__icon" aria-hidden="true" viewBox="0 0 24 24">
                                    <path d="M8.8 19.6L1.2 12c-.3-.3-.3-.8 0-1.1l1-1c.3-.3.8-.3 1 0L9 15.7c.1.2.5.2.6 0L20.9 4.4c.2-.3.7-.3 1 0l1 1c.3.3.3.7 0 1L9.8 19.6c-.2.3-.7.3-1 0z"></path>
                                </svg>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="UI Setup">UI Setup</h1>
                            <p class="slds-text-body_small slds-line-height_reset">{{pageHeader}}</p>
                        </div>
                    </div>
                </div>
                <div class="slds-p-around_medium">
                    <div class="slds-m-top--medium"></div>
                    <div id="HomePage" ng-show="currentPage=='Home'">
                        <div>
                            <div class="slds-p-around_medium">
                                <div class="slds-tabs_default">
                                    <ul class="slds-tabs_default__nav" role="tablist">
                                        <li class="slds-tabs_default__item slds-is-active" title="Sampling Rules" role="presentation">
                                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item" ng-click="tabChange($event,'processingRuleContent');">Processing Field Rules</a>
                                        </li>
                                        <li class="slds-tabs_default__item" title="Quality Control Form" role="presentation">
                                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item" ng-click="tabChange($event,'newCaseRuleContent');">New Case Rules</a>
                                        </li>
                                        <li class="slds-tabs_default__item" title="Quality Control Form" role="presentation">
                                            <a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item" ng-click="tabChange($event,'emailProcessingFieldContent');">Email Processing Field</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="processingRuleContent" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-2__item">
                            <div style="float: right;padding-bottom: 10px;">
                                <button class="slds-button slds-button_brand" ng-click="createNewRule('Processing Field')">Create New</button>
                            </div>
                            <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Value">Action</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Field">Layout Name</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rule in uiRules | filter: { type: 'Processing Field'  } track by $index">
                                        <td style="width:5%">
                                            <a ng-click="showRuleDeleteConfirm(rule);" title="Remove" style="padding-right: 7px;">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                            </a>
                                            <a ng-click="editRule(rule);" title="Edit" style="padding-right: 7px;">
                                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td scope="row" data-label="Field" class="slds-cell-wrap" style="width:15%">
                                            <div class="">
                                                {{rule.layoutName}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="newCaseRuleContent" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-1__item">
                            <div style="float: right;padding-bottom: 10px;">
                                <button class="slds-button slds-button_brand" ng-click="createNewRule('New Case')" ng-show="showCreateButton">Create New</button>
                            </div>
                            <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Value">Action</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Field">Field Set</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rule in uiRules | filter: { type: 'New Case'  } track by $index">
                                        <td style="width:5%">
                                            <a ng-click="showRuleDeleteConfirm(rule);" title="Remove" style="padding-right: 7px;">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                            </a>
                                            <a ng-click="editRule(rule);" title="Edit" style="padding-right: 7px;">
                                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td scope="row" data-label="Field" class="slds-cell-wrap" style="width:15%">
                                            <div class="">
                                                {{rule.layoutName}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="emailProcessingFieldContent" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-1__item">
                            <div style="float: right;padding-bottom: 10px;">
                                <button class="slds-button slds-button_brand" ng-click="createNewRule('Email Processing')" ng-show="showCreateEmailButton">Create New</button>
                            </div>
                            <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Value">Action</div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" title="Field">Field Set</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rule in uiRules | filter: { type: 'Email Processing'  } track by $index">
                                        <td style="width:5%">
                                            <a ng-click="showRuleDeleteConfirm(rule);" title="Remove" style="padding-right: 7px;">
                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                            </a>
                                            <a ng-click="editRule(rule);" title="Edit" style="padding-right: 7px;">
                                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td scope="row" data-label="Field" class="slds-cell-wrap" style="width:15%">
                                            <div class="">
                                                {{rule.layoutName}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="rulePage" ng-show="currentPage=='Rule'">
                        <div class="slds-m-top--medium"></div>
                        <div class="slds-section slds-is-open" id="layoutInfoSection" ng-show="uiRule.type=='Processing Field'">
                            <h3 class="slds-section__title">
                                <button ng-click="toggledSection('layoutInfoSection','layoutInfoSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                    <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                    </svg>
                                    <span class="slds-truncate" title="Section Title">Layout Information</span>
                                </button>
                            </h3>
                            <div aria-hidden="false" class="slds-section__content" id="layoutInfoSectionContent">
                                <div class="slds-p-around_medium">
                                    <form name="layoutPageForm" id="layoutPageForm" novalidate="novalidate">
                                        <div class="slds-grid slds-grid_pull-padded-medium">
                                            <div class="slds-col slds-p-horizontal_medium slds-size_2-of-4">
                                                <div class="slds-form-element" ng-class="{'slds-has-error': (layoutPageForm.layoutName.$touched || layoutPageFormSubmitted) && layoutPageForm.layoutName.$invalid}">
                                                    <label class="slds-form-element__label" for="layoutName">Layout</label>
                                                    <div class="slds-form-element__control">
                                                        <div class="slds-select_container">
                                                            <select class="slds-select" id="layoutName" name="layoutName" ng-model="uiRule.layoutName" ng-change="layoutChange(uiRule.layoutName)" ng-disabled="isEditMode" required="true">
                                                                <option ng-repeat="option in layouts " value="{{option.value}}">{{option.text}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="slds-form-element__help" ng-show="(layoutPageForm.layoutName.$touched || layoutPageFormSubmitted) && layoutPageForm.layoutName.$invalid">This field is required</div>
                                                </div>
                                                <div class="slds-m-top--small"></div>
                                            </div>
                                            <div class="slds-col slds-p-horizontal_medium slds-size_2-of-4">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="slds-section slds-is-open" id="defaultFieldSection">
                            <h3 class="slds-section__title">
                                <button ng-click="toggledSection('defaultFieldSection','defaultFieldSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                    <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                    </svg>
                                    <span class="slds-truncate" title="Section Title">Default Fields</span>
                                </button>
                            </h3>
                            <div aria-hidden="false" class="slds-section__content" id="defaultFieldaSectionContent">
                                <div class="slds-p-around_medium">
                                    <div class="slds-grid slds-grid_pull-padded-medium">
                                        <div class="slds-col slds-p-horizontal_medium slds-size_2-of-6">
                                            <div ng-repeat="sectionField in sectionFields | modulo:3 track by $index" style="padding-bottom: 15px;">
                                                <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="Field">Field</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="operator">Hidden</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="field in sectionField.fields">
                                                            <td scope="row" data-label="Field" class="slds-cell-wrap">
                                                                <div>
                                                                    {{field.label}}
                                                                </div>
                                                            </td>
                                                            <td data-label="operator" class="slds-cell-wrap">
                                                                <div class="slds-form-element">
                                                                    <div class="slds-form-element__control">
                                                                        <span class="slds-checkbox">
                                                                            <input type="checkbox" ng-model="field.isHidden" name="{{field.apiName}}" id="{{field.apiName}}" value="off" />
                                                                            <label class="slds-checkbox__label" for="{{field.apiName}}">
                                                                                <span class="slds-checkbox_faux"></span>
                                                                                <span class="slds-form-element__label"></span>
                                                                            </label>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_2-of-6">
                                            <div ng-repeat="sectionField in sectionFields | modulo:3:1 track by $index" style="padding-bottom: 15px;">
                                                <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="Field">Field</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="operator">Hidden</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="field in sectionField.fields">
                                                            <td scope="row" data-label="Field" class="slds-cell-wrap">
                                                                <div>
                                                                    {{field.label}}
                                                                </div>
                                                            </td>
                                                            <td data-label="operator" class="slds-cell-wrap">
                                                                <div class="slds-form-element">
                                                                    <div class="slds-form-element__control">
                                                                        <span class="slds-checkbox">
                                                                            <input type="checkbox" ng-model="field.isHidden" name="{{field.apiName}}" id="{{field.apiName}}" value="off" />
                                                                            <label class="slds-checkbox__label" for="{{field.apiName}}">
                                                                                <span class="slds-checkbox_faux"></span>
                                                                                <span class="slds-form-element__label"></span>
                                                                            </label>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-p-horizontal_medium slds-size_2-of-6">
                                            <div ng-repeat="sectionField in sectionFields | modulo:3:2 track by $index" style="padding-bottom: 15px;">
                                                <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="Field">Field</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="operator">Hidden</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="field in sectionField.fields">
                                                            <td scope="row" data-label="Field" class="slds-cell-wrap">
                                                                <div>
                                                                    {{field.label}}
                                                                </div>
                                                            </td>
                                                            <td data-label="operator" class="slds-cell-wrap">
                                                                <div class="slds-form-element">
                                                                    <div class="slds-form-element__control">
                                                                        <span class="slds-checkbox">
                                                                            <input type="checkbox" ng-model="field.isHidden" name="{{field.apiName}}" id="{{field.apiName}}" value="off" />
                                                                            <label class="slds-checkbox__label" for="{{field.apiName}}">
                                                                                <span class="slds-checkbox_faux"></span>
                                                                                <span class="slds-form-element__label"></span>
                                                                            </label>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-section slds-is-open" id="onChangerRuleActionSection">
                            <h3 class="slds-section__title">
                                <button ng-click="toggledSection('onChangerRuleActionSection','onChangerRuleActionSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                    <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                        <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                    </svg>
                                    <span class="slds-truncate" title="Section Title">On Change Rule</span>
                                </button>
                            </h3>
                            <div aria-hidden="false" class="slds-section__content" id="onChangerRuleActionSectionContent">
                                <div class="slds-p-around_medium">
                                    <div class="slds-grid slds-grid_pull-padded-medium">
                                        <div class="slds-col slds-p-horizontal_medium slds-size_2-of-6">
                                            <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th scope="col">
                                                            <div class="slds-truncate" title=">On Change">On Change</div>
                                                        </th>
                                                        <th scope="col">
                                                            <div class="slds-truncate" title="Criterias">Criterias</div>
                                                        </th>
                                                        <th scope="col">
                                                            <div class="slds-truncate" title="Actions">Actions</div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="rule in uiRule.JSONValue.rules track by $index">
                                                        <td style="width:5%">
                                                            <a ng-click="deleteOnChangeRule(rule);" title="Remove" style="padding-right: 7px;">
                                                                <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                                            </a>
                                                            <a ng-click="editOnChangeRule(rule);" title="Edit" style="padding-right: 7px;">
                                                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                        <td scope="row" data-label="Field" class="slds-cell-wrap">
                                                            <div>
                                                                {{rule.field}}
                                                            </div>
                                                        </td>
                                                        <td data-label="operator" class="slds-cell-wrap">
                                                            <div class="">
                                                                {{rule.criterias | CriteriasFilter}}
                                                            </div>
                                                        </td>
                                                        <td data-label="operator" class="slds-cell-wrap">
                                                            <div class="">
                                                                {{rule.actions | ActionFilter}}
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <a ng-click="addNewRule();" title="Add Rule">
                                                Add More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-m-top--medium"></div>
                        <div style="text-align:right">
                            <button class="slds-button slds-button_neutral" ng-click="Cancel();">Cancel</button>
                            <button class="slds-button slds-button_brand" ng-click="SaveRule();">Save</button>
                        </div>
                        <div class="slds-m-top--medium"></div>
                    </div>
                </div>
            </div>
            <div class="demo-only">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal" id="modalConfirm">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" ng-click="closeDialog()">
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true" viewBox="0 0 24 24">
                                    <path xmlns="http://www.w3.org/2000/svg" d="M 14.3 11.7 l 6 -6 c 0.3 -0.3 0.3 -0.7 0 -1 l -0.9 -1 c -0.3 -0.2 -0.7 -0.2 -1 0 l -6 6.1 c -0.2 0.2 -0.5 0.2 -0.7 0 l -6 -6.1 c -0.3 -0.3 -0.7 -0.3 -1 0 l -1 1 c -0.2 0.2 -0.2 0.7 0 0.9 l 6.1 6.1 c 0.2 0.2 0.2 0.4 0 0.6 l -6.1 6.1 c -0.3 0.3 -0.3 0.7 0 1 l 1 1 c 0.2 0.2 0.7 0.2 0.9 0 l 6.1 -6.1 c 0.2 -0.2 0.4 -0.2 0.6 0 l 6.1 6.1 c 0.2 0.2 0.7 0.2 0.9 0 l 1 -1 c 0.3 -0.3 0.3 -0.7 0 -1 l -6 -6 c -0.2 -0.2 -0.2 -0.5 0 -0.7 Z" />
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Confirm</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <p>
                                Are you sure you want to delete?
                            </p>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" ng-click="closeDialog()">Cancel</button>
                            <button class="slds-button slds-button_brand" ng-click="deleteRule()">Delete</button>
                        </footer>
                    </div>
                </section>
                <div id="backdropConfirm" class="slds-backdrop"></div>
            </div>
            <div class="demo-only" ng-show="displayRuleWindow">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-modal_large" id="modalAddRule">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" ng-click="closeRuleDialog()">
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true" viewBox="0 0 24 24">
                                    <path xmlns="http://www.w3.org/2000/svg" d="M 14.3 11.7 l 6 -6 c 0.3 -0.3 0.3 -0.7 0 -1 l -0.9 -1 c -0.3 -0.2 -0.7 -0.2 -1 0 l -6 6.1 c -0.2 0.2 -0.5 0.2 -0.7 0 l -6 -6.1 c -0.3 -0.3 -0.7 -0.3 -1 0 l -1 1 c -0.2 0.2 -0.2 0.7 0 0.9 l 6.1 6.1 c 0.2 0.2 0.2 0.4 0 0.6 l -6.1 6.1 c -0.3 0.3 -0.3 0.7 0 1 l 1 1 c 0.2 0.2 0.7 0.2 0.9 0 l 6.1 -6.1 c 0.2 -0.2 0.4 -0.2 0.6 0 l 6.1 6.1 c 0.2 0.2 0.7 0.2 0.9 0 l 1 -1 c 0.3 -0.3 0.3 -0.7 0 -1 l -6 -6 c -0.2 -0.2 -0.2 -0.5 0 -0.7 Z" />
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">On Change Rule</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <form name="rulePageForm" id="rulePageForm" novalidate="novalidate">
                                <div class="slds-grid slds-grid_pull-padded-medium">
                                    <div class="slds-col slds-p-horizontal_medium slds-size_2-of-4">
                                        <div class="slds-form-element" ng-class="{'slds-has-error': (rulePageForm.changeFieldName.$touched || rulePageFormSubmitted) && rulePageForm.changeFieldName.$invalid}">
                                            <label class="slds-form-element__label" for="layoutName">On Change of</label>
                                            <div class="slds-form-element__control">
                                                <div class="slds-select_container">
                                                    <select class="slds-select" id="changeFieldName" name="changeFieldName" ng-model="rule.field" required="true">
                                                        <option ng-repeat="field in fields | filter: { type: 'PICKLIST'}" value="{{field.apiName}}">{{field.label}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="slds-form-element__help" ng-show="(rulePageForm.changeFieldName.$touched || rulePageFormSubmitted) && rulePageForm.changeFieldName.$invalid">This field is required</div>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-p-horizontal_medium slds-size_2-of-4">
                                    </div>
                                </div>
                            </form>
                            <div class="slds-section slds-is-open" id="ruleCriteriaSection">
                                <h3 class="slds-section__title">
                                    <button ng-click="toggledSection('ruleCriteriaSection','ruleCriteriaSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                        <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                            <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                        </svg>
                                        <span class="slds-truncate" title="Section Title">Rule Criteria</span>
                                    </button>
                                </h3>
                                <div aria-hidden="false" class="slds-section__content" id="ruleCriteriaSectionContent">
                                    <div class="slds-p-around_medium">
                                        <div class="slds-grid slds-grid_pull-padded-medium">
                                            <div class="slds-col slds-p-horizontal_medium slds-size_2-of-6">
                                                <div class="slds-card">
                                                    <div class="slds-p-around_medium">
                                                        <div class="slds-card__header slds-grid">
                                                            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                                                <div class="slds-media__body">
                                                                    <h2 style="text-align:center">
                                                                        <span class="slds-text-heading_small">Rule Criteria</span>
                                                                    </h2>
                                                                </div>
                                                            </header>
                                                        </div>
                                                        <form name="criteriaForm" id="criteriaForm" novalidate="novalidate">
                                                            <div class="slds-form slds-form_horizontal">
                                                                <div class="slds-form-element" ng-class="{'slds-has-error': (criteriaForm.criteriaFieldName.$touched || criteriaFormSubmitted) && criteriaForm.criteriaFieldName.$invalid}">
                                                                    <label class="slds-form-element__label" for="criteriaFieldName">Field</label>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-select_container">
                                                                            <select class="slds-select" id="criteriaFieldName" name="criteriaFieldName" ng-model="ruleField" ng-change="fieldChange()" required="true">
                                                                                <option ng-repeat="option in fields | filter:{ isForCriteria : true }" value="{{option.apiName}}">{{option.label}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="slds-form-element__help" ng-show="(criteriaForm.criteriaFieldName.$touched || criteriaFormSubmitted) && criteriaForm.criteriaFieldName.$invalid">This field is required</div>
                                                                </div>
                                                                <div class="slds-m-top--small"></div>
                                                                <div class="slds-m-top--small" ng-if="fieldType=='REFERENCE'"></div>
                                                                <div class="slds-form-element" ng-class="{'slds-has-error': (criteriaForm.criteriaOperator.$touched || criteriaFormSubmitted) && criteriaForm.criteriaOperator.$invalid}">
                                                                    <label class="slds-form-element__label" for="criteriaOperator">Operator</label>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-select_container">
                                                                            <select class="slds-select" id="criteriaOperator" name="criteriaOperator" ng-model="selectedOperator" required="true" ng-change="operatorChange();">
                                                                                <option ng-repeat="option in operator" value="{{option}}">{{option}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="slds-form-element__help" ng-show="(criteriaForm.criteriaOperator.$touched || criteriaFormSubmitted) && criteriaForm.criteriaOperator.$invalid">This field is required</div>
                                                                </div>
                                                                <div class="slds-m-top--small"></div>
                                                                <div class="slds-form-element">
                                                                    <label class="slds-form-element__label" for="text-input-01">Value</label>
                                                                    <div class="slds-form-element__control" ng-if="fieldType=='TEXT' || fieldType=='NUMBER' || fieldType=='EMAIL' || fieldType=='PHONE' ||  fieldType=='CURRENCY' || fieldType=='DOUBLE' || fieldType=='TEXTAREA' || fieldType=='STRING'">
                                                                        <input id="txtCriteriaValue" class="slds-input" type="text" ng-model="$parent.selectedValue" />
                                                                    </div>
                                                                    <div class="slds-form-element__control" ng-if="fieldType=='REFERENCE'">
                                                                        <textarea id="txtCriteriaValue" class="slds-textarea" ng-model="$parent.selectedValue"></textarea>
                                                                    </div>
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-select_container" ng-if="fieldType=='PICKLIST' || fieldType=='BOOLEAN'">
                                                                            <select multiple="true" class="slds-select" ng-model="$parent.selectedValue" id="chosenObj" ng-show="($parent.selectedOperator=='contains in list' || $parent.selectedOperator=='does not contains in list')">
                                                                                <option ng-repeat="option in fieldValues" value="{{option}}">{{option}}</option>
                                                                            </select>
                                                                            <select class="slds-select" ng-model="$parent.selectedValue" ng-show="!($parent.selectedOperator=='contains in list' || $parent.selectedOperator=='does not contains in list')">
                                                                                <option ng-repeat="option in fieldValues" value="{{option}}">{{option}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="slds-m-top--medium"></div>
                                                                <button class="slds-button slds-button_brand" ng-click="addCriteria();">Add</button>
                                                                <div class="slds-m-top--medium"></div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-col slds-p-horizontal_medium slds-size_4-of-6">
                                                <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="field">Field</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="operator">Operator</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="value">Value</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-show="rule.criterias.length==0">
                                                            <td colspan="4" style="text-align: center;">
                                                                No Criteria added.
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat="car in rule.criterias track by $index">
                                                            <td>
                                                                <a ng-click="deleteCriterias(car);" title="Delete">
                                                                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                            <td scope="row" data-label="field" class="slds-cell-wrap">
                                                                <div>
                                                                    {{car.field}}
                                                                </div>
                                                            </td>
                                                            <td data-label="operator" class="slds-cell-wrap">
                                                                <div>
                                                                    {{car.operator}}
                                                                </div>
                                                            </td>
                                                            <td data-label="value" class="slds-cell-wrap">
                                                                <div>
                                                                    {{car.value}}
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-section slds-is-open" id="ruleActionSection">
                                <h3 class="slds-section__title">
                                    <button ng-click="toggledSection('ruleActionSection','ruleActionSectionContent')" aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
                                        <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                                            <path xmlns="http://www.w3.org/2000/svg" d="M 22 8.2 l -9.5 9.6 c -0.3 0.2 -0.7 0.2 -1 0 L 2 8.2 c -0.2 -0.3 -0.2 -0.7 0 -1 l 1 -1 c 0.3 -0.3 0.8 -0.3 1.1 0 l 7.4 7.5 c 0.3 0.3 0.7 0.3 1 0 l 7.4 -7.5 c 0.3 -0.3 0.8 -0.3 1.1 0 l 1 1 c 0.2 0.3 0.2 0.7 0 1 Z" />
                                        </svg>
                                        <span class="slds-truncate" title="Section Title">Rule Action</span>
                                    </button>
                                </h3>
                                <div aria-hidden="false" class="slds-section__content" id="ruleActionSectionContent">
                                    <div class="slds-p-around_medium">
                                        <div class="slds-grid slds-grid_pull-padded-medium">
                                            <div class="slds-col slds-p-horizontal_medium slds-size_3-of-6">
                                                <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                             
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="Field">Field</div>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="slds-truncate" title="operator">Action</div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="ruleAction in rule.actions track by $index">
                                                            <td>
                                                                <a ng-click="deleteRuleAction(ruleAction,rule);" title="Remove" style="padding-right: 7px;">
                                                                    <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                            <td scope="row" data-label="Field" class="slds-cell-wrap">
                                                                <div class="slds-form-element__control">
                                                                    <div class="slds-select_container">
                                                                        <select id="actionField{{$index}}" name="actionField{{$index}}" class="slds-select" ng-model="ruleAction.field" required="true">
                                                                            <option ng-selected="ruleAction.field == field.apiName" ng-repeat="field in fields" value="{{field.apiName}}">{{field.label}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td data-label="operator" class="slds-cell-wrap">
                                                                <div class="">
                                                                    <div class="slds-form-element__control">
                                                                        <div class="slds-select_container">
                                                                            <select id="action{{$index}}" name="action{{$index}}" class="slds-select" ng-model="ruleAction.action" required="true">
                                                                                <option ng-selected="ruleAction.action == action" ng-repeat="action in fieldActions" value="{{action}}">{{action}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <a ng-click="addNewActionFieldRow();" title="Add Rule">
                                                    Add More
                                                </a>
                                            </div>
                                            <div class="slds-col slds-p-horizontal_medium slds-size_3-of-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" ng-click="closeRuleDialog()">Cancel</button>
                            <button class="slds-button slds-button_brand" ng-click="saveOnChangeRule()">Save</button>
                        </footer>
                    </div>
                </section>
                <div id="backdropAddRule" class="slds-backdrop"></div>
            </div>
        </div>
    </body>
    <script>
        var app = angular.module("UISetupApp",[]);
        app.filter('CriteriasFilter', function () {

            return function (input)
            {
                var outPutArray=[];
                input.forEach(function(value, key){
                    outPutArray.push(value.field+' '+value.operator.toUpperCase()+' '+value.value);
                });
                return outPutArray.join(" And ");
            }
        })
        app.filter('ActionFilter', function () {

            return function (input)
            {
                var outPutArray=[];
                input.forEach(function(value, key){
                    outPutArray.push(value.field+' '+value.action);
                });
                return outPutArray.join(" , ");
            }
        })
       app.filter('modulo', function(){
          return function (arr, num, val) {
              return arr.filter(function(item, index){
                  return index % num === (val || 0);
              })
            };
        });
         app.controller('UISetupCtrl', function($scope) {


            $scope.ruleField='';
            $scope.operator=[];
            $scope.fieldType='';
            $scope.fieldValues=[];
            $scope.selectedValue='';

            $scope.criteriaFormSubmitted=false;
            $scope.currentPage='Home';
            $scope.uiRule=[];
            $scope.loading=false;
            $scope.uiRules={};
            $scope.deleteId='';
            $scope.actionFields=[];
            $scope.selectedFields=[];
            $scope.layouts=[];
            $scope.rule={};
            $scope.displayRuleWindow=false;
            $scope.fieldActions=['Hidden','Editable','Mandatory'];

            //Fields Info
            $scope.sectionFields=[];
            $scope.fields=[];
            $scope.isEditMode=false;
            $scope.showCreateButton=true;
            $scope.showCreateEmailButton=true;

            $scope.resetValidation=function(){

                $scope.layoutPageFormSubmitted=false;
                $scope.rulePageFormSubmitted=false;
                $scope.criteriaFormSubmitted=false;

                $scope.rulePageForm.$setPristine();
                $scope.rulePageForm.$setUntouched();

                $scope.criteriaForm.$setPristine();
                $scope.criteriaForm.$setUntouched();

                $scope.layoutPageForm.$setPristine();
                $scope.layoutPageForm.$setUntouched();
            }
            $scope.resetOnChangeRule=function(){
                 $scope.rule={
                    'field':'',
                    'criterias':[],
                    'actions':[]
                 }
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Create emptry QC Rule object.
              Dependencies:
            */
            $scope.resetUIRule=function(){
                $scope.uiRule={
                    'JSONValue':{
                        'rules':[],
                        'defaultHiddenFields':[]
                    },
                    'layoutName':'',
                    'id':'',
                    'isActive':true,
                    'type':'',
                };
                $scope.resetOnChangeRule();
                $scope.isEditMode=false;
                $scope.sectionFields=[];
                $scope.fields=[];
            }
            $scope.resetUIRule();
            $scope.isForEditChangeRule=false;
             /*
              Authors: Chandresh Koyani
              Purpose: Open edit window to edit rule.
              Dependencies:
            */
            $scope.editOnChangeRule=function(rule){
                $scope.displayRuleWindow=true;
                $scope.rule=rule;
                $scope.isForEditChangeRule=true;
                $('#modalAddRule').addClass('slds-fade-in-open');
                $('#backdropAddRule').addClass('slds-backdrop--open');
            }
             /*
              Authors: Chandresh Koyani
              Purpose: Open create new rule window.
              Dependencies:
            */
            $scope.addNewRule=function(){
                if($scope.uiRule.layoutName==null || $scope.uiRule.layoutName==''){
                    toastr.error('Please select layout', 'Error!', {timeOut: 5000});
                    return;
                }
                $scope.displayRuleWindow=true;
                $scope.resetOnChangeRule();
                $('#modalAddRule').addClass('slds-fade-in-open');
                $('#backdropAddRule').addClass('slds-backdrop--open');

            }
            /*
              Authors: Chandresh Koyani
              Purpose: Close rule dialog.
              Dependencies:
            */
            $scope.closeRuleDialog=function(){
                $scope.displayRuleWindow=false;
                $scope.isForEditChangeRule=false;
                $('#modalAddRule').removeClass('slds-fade-in-open');
                $('#backdropAddRule').removeClass('slds-backdrop--open');
                $scope.rulePageFormSubmitted=false;
                $scope.rulePageForm.$setPristine();
                $scope.rulePageForm.$setUntouched();
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Get all QC Rules from server,Call contraller method.
              Dependencies:
            */
            $scope.getAllUIRules=function(){
                 Visualforce.remoting.Manager.invokeAction(
                 '{!$RemoteAction.ESMUISetupController.getAllRules}',
                 function(result, event){
                    $scope.showCreateButton=true;
                    $scope.showCreateEmailButton=true;
                    $scope.uiRules=result;
                    $scope.uiRules.forEach(function(value, key){
                        if(value.type=='New Case'){
                             $scope.showCreateButton=false;
                        }
                        else if(value.type=='Email Processing'){
                            $scope.showCreateEmailButton=false;
                        }
                    });
                    $scope.$apply();
                });
            }


            /*
              Authors: Chandresh Koyani
              Purpose: This method get necessary data to initialize page.
              Dependencies:
            */
            $scope.initApp=function(){
                 $scope.loading=true;
                 Visualforce.remoting.Manager.invokeAction(
                 '{!$RemoteAction.ESMUISetupController.getLayouts}',
                 function(result, event){
                    $scope.layouts=result;
                    $scope.getAllUIRules();
                    $scope.loading=false;
                });
            }
            $scope.initApp();

            /*
              Authors: Chandresh Koyani
              Purpose: Fire when layout is changed it will update scope with new layout fields.
              Dependencies:
            */
            $scope.layoutChange=function(layout,uiRule){
                $scope.loading=true;
                Visualforce.remoting.Manager.invokeAction(
                 '{!$RemoteAction.ESMUISetupController.getLayoutFields}',layout,
                 function(result, event){
                     $scope.sectionFields=result.sectionFields;
                     $scope.fields=result.fields;
                     if(uiRule!=null){
                        uiRule.JSONValue.defaultHiddenFields.forEach(function(parentValue,parentKey){
                            $scope.sectionFields.forEach(function(value, key){
                                value.fields.forEach(function(innerValue,innerKey){
                                    if(innerValue.apiName==parentValue){
                                        innerValue.isHidden=true;
                                     }
                                });
                            });
                        });
                     }
                     $scope.loading=false;
                     $scope.$apply();

                });
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Get all field set of selected field set.
              Dependencies:
            */
            $scope.getFieldSetFields=function(uiRule){
                 $scope.loading=true;
                Visualforce.remoting.Manager.invokeAction(
                 '{!$RemoteAction.ESMUISetupController.getFieldSetFields}',uiRule.layoutName,
                 function(result, event){
                     if(result.fields.length==0){
                        $scope.currentPage='Home';
                        toastr.error('NewCase Fieldset is missing on Case Manager object, Please create fieldset', 'Error!', {timeOut: 5000});
                        $scope.loading=false;
                        $scope.$apply();
                        return;
                     }
                     $scope.sectionFields=result.sectionFields;
                     $scope.fields=result.fields;

                     if(uiRule!=null){
                        uiRule.JSONValue.defaultHiddenFields.forEach(function(parentValue,parentKey){
                            $scope.sectionFields.forEach(function(value, key){
                                value.fields.forEach(function(innerValue,innerKey){
                                    if(innerValue.apiName==parentValue){
                                        innerValue.isHidden=true;
                                     }
                                });
                            });
                        });
                     }
                     $scope.loading=false;
                     $scope.$apply();

                });
            }
             /*
              Authors: Chandresh Koyani
              Purpose: Fire when criteria field is changed, it will fill operator and field type.
              Dependencies:
            */
            $scope.fieldChange=function(){
               $scope.fields.forEach(function(value, key){
                    if(value.apiName==$scope.ruleField){
                        $scope.ruleField=value.apiName;
                        $scope.operator=value.operator;
                        $scope.fieldType=value.type;
                        var array = [];
                        angular.forEach(value.pickListValue, function(element) {
                            array.push(element.text);
                        });
                        $scope.fieldValues=array;
                        $scope.selectedValue='';
                       // $scope.selectedRefField='';
                    }
                });
                $scope.selectedOperator='';
                if($("#chosenObj_chosen").length>0){
                    $scope.selectedValue='';
                    $("#chosenObj").chosen("destroy");
                }
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Create new criteria and add into Criteria List.
              Dependencies:
            */
            $scope.addCriteria=function(){

               $scope.criteriaFormSubmitted=true;
               if($scope.criteriaForm.$valid){
                  var val=$scope.selectedValue;
                  if(($scope.fieldType=='PICKLIST' || $scope.fieldType=='BOOLEAN') && ($scope.selectedOperator=='contains in list' || $scope.selectedOperator=='does not contains in list')){
                       if($scope.selectedValue!=''){
                            val=$scope.selectedValue.join(',');
                       }
                  }
                  $scope.rule.criterias.push({
                    field : $scope.ruleField,
                    operator: $scope.selectedOperator,
                    value: val,
                    type: $scope.fieldType
                  });
                    $scope.criteriaFormSubmitted=false;
                    $scope.selectedValue='';
                    $scope.ruleField='';
                    $scope.operator='';
                    $scope.fieldType='TEXT';
                    $scope.fieldValues='';
                    $scope.selectedOperator=''
                    $scope.criteriaForm.$setPristine();
                    $scope.criteriaForm.$setUntouched();
              }
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Validate and save on change rule.
              Dependencies:
            */
            $scope.saveOnChangeRule=function(){
                $scope.rulePageFormSubmitted=true;
                if($scope.rulePageForm.$valid){
                    if($scope.rule.criterias.length==0){
                        toastr.error('At least one criteria is required', 'Error!', {timeOut: 5000});
                        return;
                    }
                    if(!$scope.isForEditChangeRule){
                        $scope.uiRule.JSONValue.rules.push($scope.rule);
                    }
                    $scope.resetOnChangeRule();
                    $scope.closeRuleDialog();
                }
            }
             /*
              Authors: Chandresh Koyani
              Purpose: Add new action field.
              Dependencies:
            */
            $scope.addNewActionFieldRow=function(){
                var actionField={ 'field':'','action':'Editable'};
                $scope.rule.actions.push(actionField);
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Delete On Change Rule.
              Dependencies:
            */
            $scope.deleteOnChangeRule=function(rule){
                var index= $scope.uiRule.JSONValue.rules.indexOf(rule);
                $scope.uiRule.JSONValue.rules.splice(index, 1);
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Delete Rule Action.
              Dependencies:
            */
            $scope.deleteRuleAction=function(ruleAction,rule){
                var index= rule.actions.indexOf(ruleAction);
                rule.actions.splice(index, 1);
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Save email to case rule into server and reinitliaze page.
              Dependencies:
            */
            $scope.layoutPageFormSubmitted=false;
            $scope.SaveRule=function(){

                 $scope.layoutPageFormSubmitted=true;
                 if($scope.layoutPageForm.$valid){
                    if(!$scope.isEditMode){
                        var isDuplicate=false;
                        $scope.uiRules.forEach(function(value, key){
                                if(value.type=='Processing Field' && value.layoutName==$scope.uiRule.layoutName){
                                     isDuplicate=true;
                                }
                        });
                        if(isDuplicate){
                            toastr.error('Rule already exist for "'+$scope.uiRule.layoutName+'" Layout', 'Error!', {timeOut: 5000});
                            return;
                        }
                    }
                     $scope.isEditMode=false;
                    $scope.uiRule.JSONValue.defaultHiddenFields=[];
                    $scope.sectionFields.forEach(function(value, key){
                        value.fields.forEach(function(innerValue,innerKey){
                            if(innerValue.isHidden!=null && innerValue.isHidden==true){
                                $scope.uiRule.JSONValue.defaultHiddenFields.push(innerValue.apiName);
                             }
                        });
                    });

                     $scope.loading=true;
                     Visualforce.remoting.Manager.invokeAction(
                        '{!$RemoteAction.ESMUISetupController.saveRule}',$scope.uiRule,
                        function(result, event){
                            $scope.resetValidation();
                            $scope.getAllUIRules();
                            $scope.resetUIRule();
                            $scope.currentPage='Home';
                            $scope.loading=false;
                            $scope.pageHeader='';

                        });
                }
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Toggled section header.
              Dependencies:
            */
            $scope.toggledSection=function(mainDev,sectionContent){
                 $('#'+mainDev).toggleClass('slds-is-open');
                 $('#'+sectionContent).toggleClass('hideContent');
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Cancel Editing and move to home page.
              Dependencies:
            */
            $scope.Cancel=function(){
                 $scope.getAllUIRules();
                 $scope.resetUIRule();
                 $scope.currentPage='Home';
                 $scope.resetValidation();
                 $scope.pageHeader='';
                 $scope.isEditMode=false;
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Change rule state(Active/Inactive).
              Dependencies:
            */
            $scope.changeState=function(uiRule){
                $scope.loading=true;
                Visualforce.remoting.Manager.invokeAction(

                 function(result, event){
                     $scope.getAllUIRules();
                     $scope.loading=false;
                });
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Init editing window for provided rule.
              Dependencies:
            */
            $scope.editRule=function(uiRule){
                $scope.pageHeader='Edit Rule "'+uiRule.layoutName+'"';
                $scope.currentPage='Rule';
                $scope.uiRule=uiRule;
                $scope.isEditMode=true;
                if(uiRule.type=='New Case' || uiRule.type=='Email Processing'){
                    $scope.getFieldSetFields(uiRule);
                }
                else{
                    $scope.layoutChange(uiRule.layoutName,uiRule);
                }
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Init create new rule window.
              Dependencies:
            */
            $scope.createNewRule=function(type){
                $scope.resetUIRule();
                $scope.uiRule.type=type;
                $scope.currentPage='Rule';
                $scope.pageHeader='Create New Rule';

                if(type=='New Case'){
                    $scope.uiRule.layoutName='NewCase';
                    $scope.getFieldSetFields($scope.uiRule);
                }
                else if(type=='Email Processing'){
                    $scope.uiRule.layoutName='EmailProcessingFields';
                    $scope.getFieldSetFields($scope.uiRule);
                }

            }

            /*
              Authors: Chandresh Koyani
              Purpose: Close rule delete dialog.
              Dependencies:
            */
            $scope.closeDialog=function(){
                 $('#modalConfirm').removeClass('slds-fade-in-open');
                 $('#backdropConfirm').removeClass('slds-backdrop--open');
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Delete Rule from server and get rules from server to reflact changes.
              Dependencies:
            */
            $scope.deleteRule=function(){
                Visualforce.remoting.Manager.invokeAction(
                 '{!$RemoteAction.ESMUISetupController.removeRule}',$scope.deleteId,
                 function(result, event){
                     $('#modalConfirm').removeClass('slds-fade-in-open');
                     $('#backdropConfirm').removeClass('slds-backdrop--open');
                     $scope.deleteId='';
                     $scope.getAllUIRules();
                });
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Display rule delete confirm dialog.
              Dependencies:
            */
            $scope.showRuleDeleteConfirm=function(uiRule){
                $('#modalConfirm').addClass('slds-fade-in-open');
                $('#backdropConfirm').addClass('slds-backdrop--open');
                $scope.deleteId=uiRule.id;
            }

            /*
              Authors: Chandresh Koyani
              Purpose: Delete criteria from list.
              Dependencies:
            */
            $scope.deleteCriterias=function(car){
                var index= $scope.rule.criterias.indexOf(car);
                $scope.rule.criterias.splice(index, 1);
            }

            /*
              Authors: Chandresh Koyani
              Purpose: This method is used to handle tab change event.
              Dependencies:
            */
            $scope.tabChange=function(e,tabContent){
                $('.slds-tabs_default__item').removeClass('slds-is-active');
                $('.slds-tabs_default__content').removeClass('slds-show');
                $('.slds-tabs_default__content').addClass('slds-hide');
                $('#'+tabContent).toggleClass("slds-hide slds-show");
                $(e.target).parent().addClass('slds-is-active');
            }
            /*
              Authors: Chandresh Koyani
              Purpose: Event method it will fire when operator is changed.
              Dependencies:
            */
            $scope.operatorChange=function(){
                if($scope.fieldType=='PICKLIST' || $scope.fieldType=='BOOLEAN'){
                    if($scope.selectedOperator=='contains in list' || $scope.selectedOperator=='does not contains in list'){
                        $("#chosenObj").chosen();
                        $("#chosenObj_chosen").css('width','190px');

                    }
                    else{
                        if($("#chosenObj_chosen").length>0){
                            $scope.selectedValue='';
                            $("#chosenObj").chosen("destroy");
                        }
                    }
                }
            }
         });

    </script>
</apex:page>