<apex:page controller="SearchDownloadControllerESM" id="pg" contentType="{!contentType}">
{!xmlheader}
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html='<a href="http://www.w3.org/TR/REC-html40" target="_blank" rel="nofollow">http://www.w3.org/TR/REC-html40</a>'>
  <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
      <Author></Author>
      <LastAuthor></LastAuthor>
      <Company></Company>
      <Version>15.0</Version>
  </DocumentProperties>

  <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
    <WindowHeight>8535</WindowHeight>
    <WindowWidth>12345</WindowWidth>
    <WindowTopX>480</WindowTopX>
    <WindowTopY>90</WindowTopY>
    <ProtectStructure>False</ProtectStructure>
    <ProtectWindows>False</ProtectWindows>
  </ExcelWorkbook>
 <Styles>
        <Style ss:ID="Default" ss:Name="Normal">
            <Alignment ss:Vertical="Bottom" ss:Horizontal="Left" ss:WrapText="0"/>
            <Borders />
            <Font/>
            <Interior/>
            <NumberFormat/>
            <Protection/>
        </Style>
        <Style ss:ID="Green">
          <Borders>
            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          </Borders>
          <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11"/>
        </Style>
        <Style ss:ID="s23">
        <Borders>
            <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
            <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
          </Borders>
          <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Bold="1"/>
        </Style>
  </Styles>

  <Worksheet ss:Name='{!objectTmp}'>
    <Table>
    <Row>
        <apex:repeat value="{!fieldNames}" var="item1">
            <Cell ss:StyleID='s23'>
                <Data ss:Type="String">
                <apex:outputText escape="false" value="{!item1}"/>
                </Data>
            </Cell>
        </apex:repeat>
     </Row>
     
    <apex:repeat value="{!lstTransactions}" var="lstTrans">   
    <apex:repeat value="{!lstTrans}" var="trans">
      <Row>
        <apex:repeat value="{!trans}" var="item">
            <Cell ss:StyleID='Green'>
                <Data ss:Type="String">
                <apex:outputText value="{!item}"/>
                </Data>
            </Cell>
        </apex:repeat>
     </Row>
    </apex:repeat>
    </apex:repeat>
  </Table>
  </Worksheet>
  </Workbook>
<!--apex:outputText value="{!endfile}" escape="false"/-->
</apex:page>